#form {
  display: flex;
  flex-direction: column;
}

#form-input {
  margin: 10px;
}

.App {
  height: 650px;
}

.rccs {
  margin-bottom: 15px;
}

#title {
  margin-bottom: 50px;
}

#total-price {
  margin: 20px;
}
